body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    animation-name: body-ann;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

.SH-navbar {
    background-color: #76FFC3 !important;
}

.SH-mid-content {
    height: 55rem;
    animation-name: SH-mid-content;
    visibility: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.SH-md-gif {
    top: 12rem;
    left: 18rem;
    box-shadow: 1px 1px 10px inset gray;
    border-radius: 10px;
    border-bottom-style: solid ;
    border-color: #90FECD;
    border-width: 8px ;
}

.SH-another-hover:hover {
    color: black !important;

}

@font-face {
    font-family: NG-B;
    src: url(/fonts/NanumGothic-Regular.ttf);
}

.SH-name {
    font-size: 64px;
    font-family: NG-B !important;
    font-weight: 600;
    margin-left: 40rem;
    margin-top: -10rem;
}

.SH-text-under-name {
    font-size: 20px;
    font-family: NG-B !important;
    font-weight: 600;
    margin-left: 40rem;
}

@keyframes SH-mid-content {
    0% {right: 200rem; visibility: visible;}
    100% {right: 0rem; visibility: visible;}
    
}

.SH-bottom-bar {
    background-color: #43B182;
    z-index: 2;
}

.SH-hosted-by {
    text-align: right !important;
}

.SH-leftside, .SH-rightside {
    height:75vh;
    width:100%;
}

.SH-leftside {
    background-color: #90FECD;
    transition: all 0.5s linear;
    visibility: hidden;
}

.leftside-ann {
    animation-name: leftside-ann;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

.SH-rightside {
    transition: all 0.5s linear;
    visibility: hidden;
}

.rightside-ann {
    animation-name: rightside-ann;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

.SH-leftside:hover {
    box-shadow: 1px 0px 10px black;
    transition: all 0.5s linear;
    z-index: 1;
}

.SH-rightside:hover {
    box-shadow: -1px 0px 10px black;
    transition: all 0.5s linear;
    z-index: 1;

}

.SH-discord-text {
    font-size: 46px;
    font-family: NG-B;
    font-weight: 600;
    color: #6874f7;
    top: 2.5rem;
}

.SH-discord {
    display: block;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    left: 18.25rem;
    top: 5rem;
    box-shadow: 2px 2px 10px #5865F2;
}

.SH-discord:hover {
    height: 500px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;


}

.SH-discord-egg {
    bottom: 0rem;
    left: 48rem;
    animation-name: shiba-easteregg;
    animation-delay: 120s;
    animation-duration: 20s;
    user-select: none;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes shiba-easteregg {
    0% {left: -67rem; visibility: hidden;}
    100% {left: 48rem; visibility: visible;}
    
}

.SH-socialmedia-text {
    font-size: 46px;
    top: 2.5rem;
    font-weight: 600;
}

.SH-facebook-img {
    border-radius: 8px;
    object-fit: fill;
    cursor: pointer;
    margin: 5px;
    max-width: 11rem;
    padding-right: 0rem;
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
    z-index: 1 !important;
}

.SH-steam-img {
    border-radius: 8px;
    object-fit: fill;
    background-color: black;
    max-width: 11rem;
    padding-right: 0rem;
    margin: 5px;
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.SH-instagram-img {
    border-radius: 8px;
    object-fit: fill;
    max-width: 11rem;
    padding-right: 0rem;
    margin: 5px;
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.SH-twitch-img {
    border-radius: 8px;
    object-fit: cover;
    max-width: 11rem;
    padding-right: 0rem;
    margin: 5px;
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.SH-tiktok-img {
    border-radius: 8px;
    object-fit: cover;
    max-width: 11rem;
    padding-right: 0rem;
    margin: 5px;
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.SH-tiktok-img:hover, .SH-facebook-img:hover, .SH-twitch-img:hover, .SH-instagram-img:hover, .SH-steam-img:hover {
    cursor: pointer;
}

@keyframes leftside-ann {
    0% {right: 200rem; visibility: hidden;}
    100% {right: 0rem; visibility: visible;} 
}

@keyframes rightside-ann {
    0% {left: 200rem; visibility: hidden;}
    100% {left: 0rem; visibility: visible;} 
}

.SH-facebook-bg {
    background-color: #1B3562;
    width: 100%;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.SH-steam-bg {
    background-color: #222;
    width: 100%;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.SH-instagram-bg {
    background-color: #DD113D;
    width: 100%;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.SH-twitch-bg {
    background-color: #9146F1;
    width: 100%;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.SH-tiktok-bg {
    background-color: #111111;
    width: 100%;
    height: 3rem;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

div.SH-twitch-bg:hover > img.SH-twitch-img {
    width: 5rem;
    transition: all 0.5s ease-in-out;
    margin: 8px;
}

div.SH-twitch-bg:hover {
    height: 6rem;
}


div.SH-instagram-bg:hover > img.SH-instagram-img {
    width: 5rem;
    transition: all 0.5s ease-in-out;
    margin: 8px;
}

div.SH-instagram-bg:hover {
    height: 6rem;
}

div.SH-steam-bg:hover > img.SH-steam-img {
    width: 5rem;
    transition: all 0.5s ease-in-out;
    margin: 8px;
}

div.SH-steam-bg:hover {
    height: 6rem;
}

div.SH-facebook-bg:hover > img.SH-facebook-img {
    width: 5rem;
    transition: all 0.5s ease-in-out;
    margin: 8px;
}

div.SH-facebook-bg:hover {
    height: 6rem;
}

div.SH-tiktok-bg:hover > img.SH-tiktok-img {
    width: 5rem;
    transition: all 0.5s ease-in-out;
    margin: 8px;
}

div.SH-tiktok-bg:hover {
    height: 6rem;
}

div.SH-facebook-text {
    color: white;
    font-family: NG-B;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    right: 14rem;
    top: 2rem;
    user-select: none;
    visibility: hidden;
    z-index: 1000 !important;
}

.SH-name-color-blue {
    color: #3a6eff;
    font-weight: 600;
    user-select: none;
}

.SH-facebook-text.in {
    animation-name: socialmedia-name-text-ann;
    animation-duration: 0.8s;
    visibility: visible;
}

.SH-facebook-text.out {
    animation-name: socialmedia-name-text-ann-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    visibility: visible;
}

.SH-steam-text.in {
    animation-name: socialmedia-name-text-ann;
    animation-duration: 0.8s;
    visibility: visible;
}

.SH-steam-text.out {
    animation-name: socialmedia-name-text-ann-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    visibility: visible;
}

div.SH-steam-text {
    color: white;
    font-family: NG-B;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    right: 14rem;
    top: 2rem;
    user-select: none;
    visibility: hidden;
    z-index: 1000 !important;
}

.SH-name-color-black {
    color: #3a3a3a;
    font-weight: 600;
    user-select: none;
}

.SH-instagram-text.in {
    animation-name: socialmedia-name-text-ann;
    animation-duration: 0.8s;
    visibility: visible;
}

.SH-instagram-text.out {
    animation-name: socialmedia-name-text-ann-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    visibility: visible;
}

div.SH-instagram-text {
    color: white;
    font-family: NG-B;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    right: 14rem;
    top: 2rem;
    user-select: none;
    visibility: hidden;
    z-index: 1000 !important;
}

.SH-name-color-red {
    color: #fc4a4a;
    font-weight: 600;
    user-select: none;
}

.SH-twitch-text.in {
    animation-name: socialmedia-name-text-ann;
    animation-duration: 0.8s;
    visibility: visible;
}

.SH-twitch-text.out {
    animation-name: socialmedia-name-text-ann-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    visibility: visible;
}

div.SH-twitch-text {
    color: white;
    font-family: NG-B;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    right: 14rem;
    top: 2rem;
    user-select: none;
    visibility: hidden;
    z-index: 1000 !important;
}

.SH-name-color-purple {
    color: rgb(155, 79, 255);
    font-weight: 600;
    user-select: none;
}

.SH-tiktok-text.in {
    animation-name: socialmedia-name-text-ann;
    animation-duration: 0.8s;
    visibility: visible;
}

.SH-tiktok-text.out {
    animation-name: socialmedia-name-text-ann-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    visibility: visible;
}

div.SH-tiktok-text {
    color: white;
    font-family: NG-B;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    right: 14rem;
    top: 2rem;
    user-select: none;
    visibility: hidden;
    z-index: 1000 !important;
}

@keyframes socialmedia-name-text-ann {
    0% {right: 50rem;visibility: hidden;}
    100% {right: 14rem;visibility: visible;}  
}

@keyframes socialmedia-name-text-ann-out {
    0% {right: 14rem;visibility: visible;}  
    100% {right: 50rem;visibility: hidden;}
}

