
/* FONTS */

@font-face {
    font-family: NG-B;
    src: url(/shikas-heaven/fonts/NanumGothic-Regular.ttf);
}

/* ENDE FONTS*/

/*------------*/

/* BASE NEEDED */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    animation-name: body-ann;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}




/* ENDE BASE */

/*-----------*/

/* NAVBAR CSS*/

.SH-navbar {
    background-color: transparent !important;
    margin-bottom: 0.5rem;
    z-index: 1000;
}

.nav-link {
    border-bottom: 1px solid #1D263B !important;
    border-radius: 3px;
}

.SH-another-hover:hover {
    color: #A0EADE!important;
    border-bottom-width: 5px !important;
    transition: 0.2s ease-in-out !important;
}

.SH-another-hover {
    transition: 0.2s ease-in-out !important;
}

.nav-link {
    color: #5C6784 !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-item {
    padding-right: 1rem !important;
}

li.nav-link, .active {
    color: #A0EADE !important;
}

a.navbar-brand, ul.navbar-nav {
    margin-bottom: 0.5rem;
}

/* ENDE NAVBAR */

/*-------------*/

/* LEFTSIDE + RIGHTSIDE = UP */

.SH-leftside-up, .SH-rightside-up {
    height: 95vh;
}

.SH-md-gif {
    top: 12rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px inset gray;
    border-radius: 10px;
    border-bottom-style: solid ;
    border-color: #A0EADE;
    border-width: 8px ;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: SH-mid-content;
    animation-duration: 2s;
    transition: 2s ease-in-out;
}

.SH-name {
    font-size: 64px;
    font-family: NG-B !important;
    font-weight: 600;
    top: 12rem;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: SH-mid-content;
    animation-duration: 2s;
    transition: 2s ease-in-out;
}

.SH-text-under-name {
    max-width: 80rem;
    font-size: 20px;
    font-family: NG-B !important;
    font-weight: 600;
    top: 13rem;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: SH-mid-content;
    animation-duration: 2s;
    transition: 2s ease-in-out;
}

/* KEYFRAME */

@keyframes SH-mid-content {
    0% {right: 200rem; visibility: visible;}
    100% {right: 0rem; visibility: visible;}
    
}

/* ENDE LEFTSIDE + RIGHTSIDE */

/*------------------*/

/* LEFTSIDE RIGHTSIDE / SOCIAL MEDIA / DISCORD*/

.SH-socialmedia-area {
    margin-top: 15rem;
    width: auto;
    object-fit: none;
    visibility: hidden;
    animation-fill-mode: forwards;
    animation-name: SH-mid-content;
    animation-duration: 2s;
    transition: 2s ease-in-out;
}

.SH-socialmedia-instagram {
    border-radius: 1rem;
    width: 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SH-socialmedia-facebook {
    border-radius: 1rem;
    width: 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SH-socialmedia-tiktok {
    border-radius: 1rem;
    width: 3rem;
    background-color: #111111;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SH-socialmedia-steam {
    border-radius: 1rem;
    width: 3rem;
    background-color: #111111;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SH-socialmedia-twitch {
    border-radius: 1rem;
    width: 3rem;
    border: 5px solid #5c1696;
    background-color: #5c1696;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SH-socialmedia-twitch:hover,
.SH-socialmedia-steam:hover,
.SH-socialmedia-instagram:hover,
.SH-socialmedia-tiktok:hover,
.SH-socialmedia-facebook:hover {
    width: 3.5rem;
    transition: 0.2s ease-in-out;
}

.SH-under-main {
    height:75vh;
    width:100%;
}

.SH-under-main {
    transition: all 0.5s linear;
    visibility: hidden;
    background-color: #1D263B;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.under-main-ann {
    animation-name: under-main-ann;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
}

/* KEYFRAME */

@keyframes under-main-ann {
    0% {transform: translateY(200rem);}
    100% {transform: translateY(0rem); visibility: visible;} 
}

/* DISCORD */

.SH-discord-text {
    font-size: 46px;
    font-family: NG-B;
    font-weight: 600;
    color: #6874f7;
    top: 2.5rem;
}

.SH-discord {
    display: block;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    box-shadow: 2px 2px 10px #5865F2;
}

.SH-discord:hover {
    height: 500px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/* ENDE DISCORD */

/* EASTEREGG :D */

.SH-discord-egg {
    bottom: 0rem;
    left: 48rem;
    animation-name: shiba-easteregg;
    animation-delay: 120s;
    animation-duration: 20s;
    user-select: none;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes shiba-easteregg {
    0% {left: -67rem; visibility: hidden;}
    100% {left: 148rem; visibility: visible;}
    
}

/* ENDE EASTEREGG :D */

/*--------------------*/

/* MEDIA PHONE */

@media (max-width: 576px)  {
    .SH-md-gif {
        top: 0rem;
        width: 250px;
        height: 250px;
    }
    .SH-leftside-up {
        height: min-content;
    }
    .SH-name {
        font-size: 40px;
        margin-top: 2rem;
        top: 0rem;
    }
    .SH-text-under-name {
        top: 1rem;
        font-size: 18px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .SH-socialmedia-area {
        margin-top: 2rem;
    }
    .SH-under-main {
        animation-name: none;
        visibility: visible;
        height: auto;
        padding-bottom: 1rem;
    }
    .SH-discord-text {
        font-size: 26px;
    }
    .SH-discord {
        height: 500px;
        width: 250px;
    }
}

/* BOTTOM THE SITE */

.SH-bottom-bar {
    background-color: #282A35;
    z-index: 2;
}

.SH-hosted-by {
    text-align: right !important;
}

/* ENDE BOTTOM */


