
/* FONTS */

@font-face {
    font-family: NG-B;
    src: url(/shikas-heaven/fonts/NanumGothic-Regular.ttf);
}

/* ENDE FONTS*/

/*------------*/

/* BASE NEEDED */
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    animation-name: body-ann;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

/* ENDE BASE */

/*-----------*/

/* NAVBAR CSS*/

.SH-navbar {
    background-color: transparent !important;
    margin-bottom: 0.5rem;
    z-index: 1000;
}

.nav-link {
    border-bottom: 1px solid white !important;
    border-radius: 3px;
}

.SH-another-hover:hover {
    color: #A0EADE!important;
    border-bottom-width: 5px !important;
    transition: 0.2s ease-in-out !important;
}

.SH-another-hover {
    transition: 0.2s ease-in-out !important;
}

.nav-link {
    color: #5C6784 !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-item {
    padding-right: 1rem !important;
}

li.nav-link, .active {
    color: #A0EADE !important;
}

a.navbar-brand, ul.navbar-nav {
    margin-bottom: 0.5rem;
}

/* ENDE NAVBAR */

/*-------------*/

/* MIDCONTENT / VIDEO */

.SH-mid-content {
    height: 95vh;
    z-index: 2;
}

.SH-mid-content-video {
    transform: translatez(0);
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;    
  
    margin: auto;
  
    min-width: 100%;
    min-height: 100%;
}

.SH-mid-content-gif {
    float: right;
    text-align: end;
    bottom: -30rem;
}

.SH-name {
    font-size: 64px;
    font-family: NG-B !important;
    font-weight: 600;
    left: 4rem;
    top: 20rem;
    animation-name: name-ann;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    visibility: hidden;
}

.SH-text-under-name {
    font-size: 18px;
    font-family: NG-B !important;
    font-weight: 600;
    top: 25rem;
    left: 10rem;
    animation-name: name-ann;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 0.5s;
    visibility: hidden;
}

/* MIDCONTENT / VIDEO KEYFRAME*/

@keyframes name-ann {
    0% {left: -200rem;visibility: hidden;}
    100% {left: "";visibility: visible;}
    
}

/* ENDE MIDCONTENT / VIDEO + KEYFRAME*/

/*-----------------------------------*/

/* LEFTSIDE + RIGHTSIDE */

.SH-leftside, .SH-rightside {
    height:580vh;
    width:100%;
}

.SH-leftside {
    background-color: transparent;
    transition: all 0.5s linear;
    visibility: visible;
}

.SH-rightside {
    background-color: transparent;
    transition: all 0.5s linear;
    visibility: visible;
}

/* LEFTSIDE + RIGHTSIDE ANIMATION */

.leftside-ann {
    animation-name: sleftside-ann;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

.rightside-ann {
    animation-name: srightside-ann;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

@keyframes leftside-ann {
    0% {right: 200rem; visibility: hidden;}
    100% {right: 0rem; visibility: visible;} 
}

@keyframes rightside-ann {
    0% {left: 200rem; visibility: hidden;}
    100% {left: 0rem; visibility: visible;} 
}

/* ENDE LEFTSIDE + RIGHTSIDE / ANIMATION */

/*---------------------------------------*/

/* ABOUT SERVER */

.SH-aboutserver-content {
    z-index: 222 !important;
    height: 580vh;
    background-color: #1D263B !important;
    box-shadow: 1px 1px 10px ;
}



/* LEFTSIDE / MAINTEXT / UNDERTEXT / IMG */

.SH-leftside-customprefix, 
.SH-leftside-death, 
.SH-leftside-damageind,
.SH-leftside-hologramm,
.SH-leftside-bosses,
.SH-leftside-level,
.SH-leftside-items {
    font-size: 64px;
    font-family: NG-B;
    font-weight: 600;
    color: white;
    text-align: center;
    visibility: hidden;
}

.SH-leftside-undertext-customprefix, 
.SH-leftside-undertext-death, 
.SH-leftside-undertext-damageind,
.SH-leftside-undertext-hologramm,
.SH-leftside-undertext-bosses,
.SH-leftside-undertext-level,
.SH-leftside-undertext-items {
    font-size: 20px !important;
    font-family: NG-B;
    font-weight: 600;
    color: white;
    text-align: center;
    visibility: hidden;
}

.SH-leftside-customprefix-img, 
.SH-leftside-death-img, 
.SH-leftside-damageind-img,
.SH-leftside-hologramm-img,
.SH-leftside-bosses-img,
.SH-leftside-level-img,
.SH-leftside-items-img {
    display: flex;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
    top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #5C6784;
    visibility: hidden;
}

/* ENDE */

/*----------*/

/* RIGHTSIDE / MAINTEXT / UNDERTEXT / IMG */

.SH-rightside-backpacks,
.SH-rightside-bar,
.SH-rightside-classes,
.SH-rightside-customblocks,
.SH-rightside-customenchant,
.SH-rightside-playerinf,
.SH-rightside-mobslevel  {
    font-size: 64px;
    font-family: NG-B;
    font-weight: 600;
    color: white;
    text-align: center;
    visibility: hidden; 
}

.SH-rightside-undertext-backpacks,
.SH-rightside-undertext-bar,
.SH-rightside-undertext-classes,
.SH-rightside-undertext-customblocks,
.SH-rightside-undertext-customenchant,
.SH-rightside-undertext-playerinf,
.SH-rightside-undertext-mobslevel {
    font-size: 20px !important;
    font-family: NG-B;
    font-weight: 600;
    color: white;
    text-align: center;
    visibility: hidden;
}

.SH-rightside-backpacks-img,
.SH-rightside-bar-img,
.SH-rightside-classes-img,
.SH-rightside-customblocks-img,
.SH-rightside-customenchant-img,
.SH-rightside-playerinf-img,
.SH-rightside-mobslevel-img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    object-fit: fill;
    width: 60%;
    max-width: fit-content;
    overflow: hidden;
    top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #5C6784;
    visibility: hidden;
}

/* LEFTSIDE + RIGHTSIDE ANNIMATION = JAVASCRIPT observer.js */

@keyframes text-ann-right {
    0% {left:200rem;visibility: hidden;}
    100% {left: 0rem;visibility: visible;}
}

.text-com-ann-right {
    animation-name: text-ann-right;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes text-ann-left {
    0% {right:200rem;visibility: hidden;}
    100% {right: 0rem;visibility: visible;}
}

.text-com-ann-left {
    animation-name: text-ann-left;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

/* ENDE LEFTSIDE + RIGHTSIDE... */

/*------------------------*/

/* UNDER ABOUT LEFTSIDE RIGHTSIDE JOIN FORM */

.SH-under-about-content {
    height: 60vh;
    background-color: #4CB963;
}

.SH-under-about-text {
    font-size: 64px;
    font-family: NG-B;
    font-weight: 600;
    color: #157F1F;
    top: 5rem;
}

.SH-under-about-button {
    padding: 1.5rem 5rem;
    top: 8rem;
    background-color: #157F1F !important;
    color: white !important;
    transition: 0.3s ease-in-out;
}

.SH-under-about-button:hover {
    color: #4CB963 !important;
    transition: 0.3s ease-in-out;
}

/* ENDE JOIN FORM */

/*---------------*/

/* SITE BOTTOM / HOSTED INFORMATION ETC. */

.SH-bottom-bar {
    background-color: #157F1F;
    z-index: 2;
}

.SH-hosted-by {
    text-align: right !important;
}

/* ENDE SITE BOTTOM */

/* ENDE OF CSS */