/* FONTS */

@font-face {
    font-family: NG-B;
    src: url(/shikas-heaven/fonts/NanumGothic-Regular.ttf);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ENDE FONTS*/

/*------------*/

/* BASE NEEDED */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    animation-name: body-ann;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: #5C6784;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}




@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

/* ENDE BASE */

/*-----------*/

/* NAVBAR CSS*/

.SH-navbar {
    background-color: #1D263B !important;
    border-bottom: 3px solid #505e80;
    margin-bottom: 0.5rem;
    z-index: 1000;
}

.nav-link {
    border-bottom: 1px solid white !important;
    border-radius: 3px;
}

.SH-another-hover:hover {
    color: #A0EADE!important;
    border-bottom-width: 5px !important;
    transition: 0.2s ease-in-out !important;
}

.SH-another-hover {
    transition: 0.2s ease-in-out !important;
}

.nav-link {
    color: #5C6784 !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-item {
    padding-right: 1rem !important;
}

li.nav-link, .active {
    color: #A0EADE !important;
}

a.navbar-brand, ul.navbar-nav {
    margin-bottom: 0.5rem;
}

/* ENDE NAVBAR */

/*-------------*/

/* MID CONTENT */

.SH-mid-content {
    height: auto;
    max-width: 100vh;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 3px solid #8296ce;
    text-align: center;
    z-index: 2;
    background-color: #1D263B !important;
}

/* KEYFRAME */

@keyframes SH-mid-content {
    0% {right: 200rem; visibility: visible;}
    100% {right: 0rem; visibility: visible;}
    
}

/* ENDE MID CONTENT*/


/* REPORT FORM */

form#report-form {
    height: 55rem;
    align-items: center;
    color: white;
}

.SH-name-btn {
    font-family: NG-B;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 25rem;
}

.SH-submit-btn {
    transition: 0.5s ease-in-out;
    font-family: NG-B;
    font-weight: 500;
    text-align: center;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 25rem;
    top: 2rem;
}

.SH-submit-btn:hover {
    border-color: #157F1F !important;
    background-color: #4CB963;
    transition: 0.5s ease-in-out;
}

.SH-report-up-name {
    font-size: 42px;
    font-family: NG-B;
    text-align: center;
    padding: 2rem;
    
}

/* ENDE REPORT */

/*---------------*/

/* BOTTOM OF THE SITE*/

.SH-bottom-bar {
    background-color: #282A35;
    z-index: 2;
}

.SH-hosted-by {
    text-align: right !important;
}

/* ENDE BOTTOM */

/* MEDIA / ON WINDOW RESIZE */


/* FORM RESIZE ON PHONES | INPUT AND BUTTONS */
@media (min-width: 576px) {
    .SH-name-btn, .SH-submit-btn {
        width: 50%;
    }
}