/* FONTS */

@font-face {
    font-family: NG-B;
    src: url(/shikas-heaven/fonts/NanumGothic-Regular.ttf);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ENDE FONTS*/

/*------------*/

/* BASE NEEDED */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    animation-name: body-ann;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: white;
}



@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

/* ENDE BASE */

/*-----------*/

/* NAVBAR CSS*/

.SH-navbar {
    background-color: #1D263B !important;
    border-bottom: 3px solid #505e80;
    margin-bottom: 0.5rem;
    z-index: 1000;
}

.nav-link {
    border-bottom: 1px solid white !important;
    border-radius: 3px;
}

.SH-another-hover:hover {
    color: #A0EADE!important;
    border-bottom-width: 5px !important;
    transition: 0.2s ease-in-out !important;
}

.SH-another-hover {
    transition: 0.2s ease-in-out !important;
}

.nav-link {
    color: #5C6784 !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-item {
    padding-right: 1rem !important;
}

li.nav-link, .active {
    color: #A0EADE !important;
}

a.navbar-brand, ul.navbar-nav {
    margin-bottom: 0.5rem;
}

/* ENDE NAVBAR */

/*-------------*/

/* MID CONTENT */

.SH-mid-content {
    height: 95vh;
    width: 100vh;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 3px solid #5C6784;
    z-index: 2;
    background-color: #1D263B !important;
}

.SH-site-name {
    font-size: 64px;
    font-family: NG-B !important;
    font-weight: 600;
    text-align: center;
    top: 18rem;
    animation-name: SH-mid-content;
    animation-duration: 2.3s;
    animation-fill-mode: forwards;
}

.SH-color-gray {
    color: #1D263B;
    transition: 1s ease-in-out;
}

.SH-color-gray:hover {
    color: #5C6784 !important;
    transition: 1s ease-in-out;
}

.SH-name-color-whitegray {
    color: #5C6784;
    transition: 0.5s ease-in-out;
}

.SH-name-color-whitegray:hover {
    color: white !important;
    transition: 0.5s ease-in-out;
}

.SH-undersite-text {
    font-size: 14px;
    font-family: NG-B !important;
    text-align: center;
    top: 18rem;
    animation-name: SH-mid-content;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

/* KEYFRAME */

@keyframes SH-mid-content {
    0% {right: 200rem; visibility: visible;}
    100% {right: 0rem; visibility: visible;}
    
}

/* ENDE MID CONTENT*/

/* BOTTOM OF THE SITE*/

.SH-bottom-bar {
    background-color: #1D263B;
    z-index: 2;
}

.SH-hosted-by {
    text-align: right !important;
}

/* ENDE BOTTOM */

/* REPORT FORM */

form#report-form {
    height: 55rem;
    align-items: center;
    color: white;
}

.SH-name-btn {
    font-family: NG-B;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.SH-submit-btn {
    transition: 1s ease-in-out;
    font-family: NG-B;
    font-weight: 500;
    text-align: center;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    top: 2rem;
}

.SH-submit-btn:hover {
    background-color: #5C6784;
    transition: 1s ease-in-out;
}

.SH-report-up-name {
    font-size: 42px;
    font-family: NG-B;
    text-align: center;
    padding: 2rem;

}

/* ENDE REPORT */