body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    position: relative;
    text-align: center;
    top: 2rem;
}

.p {
    float: left;
    top: 6rem;
    font-size: 24px;
    font-weight: 600;
    margin-left: 30px;
    border-bottom: style;
    border
}

.p-small {
    float: left;
    top: 5rem;
    font-size: 20px;
    margin-left: 30px;
}

