body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


h1 {
    position: relative;
    text-align: center;
    padding: 1.5rem;
    background-color: #1D263B;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.SH-main-text {
    max-width: 1550px;
    background-color: #5C6784;
    color: #A0EADE;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    top: 2rem;
    left: 2rem;
    border-radius: 5px;
    padding: 0.2rem;
}

.SH-under-main-text {
    font-size: 22px;
    margin: 2rem;

}

img {
    border-radius: 10px;
    width: 800px;
    display: block;
    left: 400px;
}