body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    position: relative;
    text-align: center;
    top: 2rem;
}

.p {
    float: left;
    top: 4rem;
    font-size: 32px;
    font-weight: 600;
    margin-left: 30px;
}

.SH-main-text {
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    top: 2rem;
    margin: 0rem 1rem;
}

.SH-under-main-text {
    font-size: 22px;
    top: 2rem;
    left: 3rem;
}

img {
    position: relative;
    border-radius: 5px;
    max-width: 300px;
    max-height: 210px;
    width: 300px;
    display: inline-block;
    top: 2rem;
    left: 40px;
    background-color: black;
    padding: 1rem 1rem;
    object-fit: cover;
    vertical-align: top;

}

img.wide {
    width: 450px;
    max-height: 400px;
    max-width: 500px;
    display: inline-block;
    object-fit: cover;
    background-size: cover;
    vertical-align: top;

}

